<h1>Cocktails</h1>

<%= link_to "New cocktail", new_cocktail_path %>

<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
    <h2><%= cocktail.name %></h2>
  <% end %>
  <hr>
<% end %>
<%= cl_image_tag("mojito.jpg", width: 400, height: 300, crop: :fill, :radius=>4) %>
